{% extends "base.html" %}

{% block content %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='customer_style.css') }}"
  />

<h1 class="customer_title">Welcome back, {{ user }}</h1>

{% if products %}
<div class="product-grid-container">
  {% for product in products %}
  <div class="product">
      <img src="{{ url_for('static', filename='macbookair13m2.jpeg') }}" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>€{{ product.price }}</p>
      {% if product.quantity > 0 %}
      <!-- Blue button for available product -->
      <form method="POST">
        <input type="hidden" name="product_name" value="{{ product.name }}" />
        <input type="hidden" name="product_price" value="{{ product.price }}" />
        <button class="buy-button" type="submit">Buy Now</button>
      </form>
      {% else %}
      <!-- Red button for sold-out product -->
      <button class="buy-button sold-out" disabled>Sold Out</button>
      {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}