{% extends "base.html" %} {% block title %}Register{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Register</h3>
    <div class="form-group">
        <label for="name">Full Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="name"
            name="name"
            placeholder="Enter your name"/>
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email"
            name="email"
            placeholder="Enter your email"
            required/>
    </div>
    <div class="form-group">
        <label for="nif">NIF</label>
        <input 
            type="number" 
            class="form-control" 
            id="nif"
            name="nif"
            placeholder="Enter your NIF"
            required/>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input 
            type="text" 
            class="form-control" 
            id="address"
            name="address"
            placeholder="Enter your address"
            required/>
    </div>
    <div class="form-group">
        <label for="zip_code">Zip Code</label>
        <input 
            type="text" 
            class="form-control" 
            id="zip_code"
            name="zip_code"
            pattern="\d{4}(-\d{3})?"
            placeholder="1234-123"
            required/>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input 
            type="text" 
            class="form-control" 
            id="city"
            name="city"
            placeholder="Enter your city"
            required/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}